.fixed-top-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightslategray;
  padding: 10px 0;
  z-index: 1000;
  text-align: center;
}

.fixed-top-menu ul {
  list-style: none;
}

.fixed-top-menu li {
  display: inline;
  margin: 0 15px;
  color: #405d72;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.fixed-top-menu li:hover {
  color: white;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* 화면 높이보다 클 수 있도록 설정 */
  margin: 0;
  padding: 0; /* 패딩 제거 */
  box-sizing: border-box; /* 박스 사이즈를 border-box로 설정 */
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.header-image {
  width: 65px;
  height: auto;
  margin-right: 20px;
}

p {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

#product-wrapper {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 24px;
  width: 350px;
  display: flex; /* 플렉스 컨테이너로 변경 */
  gap: 24px; /* 이미지와 내용 사이의 간격 */
  align-items: center;
  flex-direction: column; /* 내부 요소를 세로로 나열 */
}

#product-wrapper img {
  max-width: 300px; /* 이미지 최대 너비 조정 */
  height: auto;
  border-radius: 8px;
  margin-left: 25px;
}

#product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  color: #333;
  margin: 0 0 12px 0;
}

.description {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: #666;
  margin-bottom: 12px;
}

.price {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: midnightblue;
  font-weight: bold;
  margin-bottom: 12px;
  margin-left: 30px;
}

.stock {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #666;
  margin-bottom: 12px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button {
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 8px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-weight: 600;
  background-color: #405d72;
  color: white;
  border: 2px solid #405d72;
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
  text-align: center;
}

.product-button:hover {
  background-color: white;
  color: #1e6b7b;
}

#quantity {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 80px; /* 입력 박스 크기 조정 */
  max-width: 100%; /* 최대 너비 설정 */
}
