body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #f7e7dc;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 80vh;
  width: 80vw;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.left-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: 405D72;
}

h1 {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 20px;
  color: black;
}

p {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 40px;
  color: 405D72;
}

.buttons button {
  background-color: 405D72;
  color: white;
  margin-right: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  width: 120px;
  height: 45px;
  font-weight: 300;
  transition: background-color 0.4s ease-in-out;
}

.buttons button:hover {
  background-color: lightslategray;
}

.right-section {
  flex: 1;
  background-image: linear-gradient(to bottom, #405d72, #758694, #405d72);
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-wave {
  width: 200px;
  height: 200px;
  background-color: FFF8F3;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
